<extend name="Public/base"/>

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>用户地址管理</h2>

	</div>
    <div class="tools">
	    <a class="btn" href="{:U('Wxpay/index')}">返回订单管理</a>
	    <button class="btn ajax-post" target-form="ids" url="{:U('Model/setStatus',array('status'=>1))}">批 量 删 除</button>
    </div>

	<!-- 数据列表 -->
	<div class="data-table">
        <div class="data-table table-striped">
<table class="">
    <thead>
        <tr>
		<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
		<th class="">编号</th>
		<th class="">用户ID</th>
		<th class="">收货人</th>
		<th class="">省市县(区)</th>
		<th class="">具体地址</th>
		<th class="">联系电话</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
	<notempty name="_list">
		<volist name="_list" id="vo">
		<tr>
            <td><input class="ids" type="checkbox" name="ids[]" value="{$vo.id}" /></td>
			<td>{$vo.id} </td>
			<td>{$vo.uid}</td>
			<td>{$vo.consignee}</td>
			<td>{$vo.sheng}|{$vo.shi}|{$vo.qu}</td>
			<td>{$vo.address}</td>
            <td>{$vo.mobile}</td>
			<td>
				<a href="{:U('addressdel?ids='.$vo['id'])}" class="confirm ajax-get">删除</a>
            </td>
		</tr>
		</volist>
		<else/>
		<td colspan="8" class="text-center"> aOh! 暂时还没有地址! </td>
		</notempty>
	</tbody>
    </table>

        </div>
    </div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
    <script type="text/javascript">
            //导航高亮
            highlight_subnav("{:U('Wxpay/index')}");
    </script>
</block>
