<!--  统一风格  采用模板渲染 插件通用模板addons 默认已加载 请参考 Amaze UI的css框架 -->
<extend name="Base/addons"/>
<block name="title">{$Title}</block>
<block name="footer">
<div class="am-g am-g-fixed blog-g-fixed " >
                                            
 <div class="col-md-8">
<div data-am-widget="slider" class="am-slider am-slider-c3" data-am-slider='{&quot;controlNav&quot;:false}'>
<ul class="am-slides">
 <li class="img-album">
   <a href="/index.php?s=/Home/Article/detail/id/64.html"><img style="height:100%;" src="/Uploads/Picture/2014-09-30/542a9f95aba95.jpg" alt="原创漫画 ▏国庆出游，行李箱密码忘了咋办？！" draggable="false" /></a>
    <div class="am-slider-desc">
     <div class="am-slider-counter">
      <span class="am-active">1</span>/4
     </div><a href="/index.php?s=/Home/Article/detail/id/64.html">原创漫画 ▏国庆出游，行李箱密码忘了咋办？</a>
    </div>
  </li><li class="img-album">
   <a href="/index.php?s=/Home/Article/detail/id/65.html"><img style="height:100%;" src="/Uploads/Picture/2014-09-30/542aa566d9701.jpg" alt="秋菊男的故事！" draggable="false" /></a>
    <div class="am-slider-desc">
     <div class="am-slider-counter">
      <span class="am-active">2</span>/4
     </div><a href="/index.php?s=/Home/Article/detail/id/65.html">秋菊男的故事</a>
    </div>
  </li><li class="img-album">
   <a href="/index.php?s=/Home/Article/detail/id/66.html"><img style="height:100%;" src="/Uploads/Picture/2014-09-30/542aa5f744aa2.jpg" alt="陌路的人，你永远不必等！" draggable="false" /></a>
    <div class="am-slider-desc">
     <div class="am-slider-counter">
      <span class="am-active">3</span>/4
     </div><a href="/index.php?s=/Home/Article/detail/id/66.html">陌路的人，你永远不必等</a>
    </div>
  </li><li class="img-album">
   <a href="/index.php?s=/Home/Article/detail/id/67.html"><img style="height:100%;" src="/Uploads/Picture/2014-09-30/542aa629a037a.jpg" alt="如何迅速定位某个领域的最佳入门书籍！" draggable="false" /></a>
    <div class="am-slider-desc">
     <div class="am-slider-counter">
      <span class="am-active">4</span>/4
     </div><a href="/index.php?s=/Home/Article/detail/id/67.html">如何迅速定位某个领域的最佳入门书籍</a>
    </div>
  </li></ul>
</div>

<div data-am-widget="list_news" class="am-list-news am-list-news-default ">
  <!--列表标题-->
    <div class="am-list-news-hd am-cf">
       <!--带更多链接-->
          <h2>精彩推荐</h2>
    </div>
 
  <ul class="am-list am-list-border">
     <!--缩略图在标题左边-->
			   <li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" >
        <div class="am-col col-sm-4 am-list-thumb">
          <a href="/index.php?s=/Home/Article/detail/id/64.html">
            <img src="/Uploads/Picture/2014-09-30/542a9f95aba95.jpg" alt="原创漫画 ▏国庆出游，行李箱密码忘了咋办？！">
          </a>
        </div>
        <div class="am-col col-sm-8 am-list-main">
          
            <h3 class="am-list-item-hd"><a href="/index.php?s=/Home/Article/detail/id/64.html">原创漫画 ▏国庆出游，行李箱密码忘了咋办？</a></h3>
    
            <div class="am-list-item-text">本教程将教你如何徒手破解密码，赶紧来get吧~</div>
        </div>
      </li><li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" >
        <div class="am-col col-sm-4 am-list-thumb">
          <a href="/index.php?s=/Home/Article/detail/id/65.html">
            <img src="/Uploads/Picture/2014-09-30/542aa566d9701.jpg" alt="秋菊男的故事！">
          </a>
        </div>
        <div class="am-col col-sm-8 am-list-main">
          
            <h3 class="am-list-item-hd"><a href="/index.php?s=/Home/Article/detail/id/65.html">秋菊男的故事</a></h3>
    
            <div class="am-list-item-text">十四年前......这是一个真实的故事。</div>
        </div>
      </li><li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" >
        <div class="am-col col-sm-4 am-list-thumb">
          <a href="/index.php?s=/Home/Article/detail/id/66.html">
            <img src="/Uploads/Picture/2014-09-30/542aa5f744aa2.jpg" alt="陌路的人，你永远不必等！">
          </a>
        </div>
        <div class="am-col col-sm-8 am-list-main">
          
            <h3 class="am-list-item-hd"><a href="/index.php?s=/Home/Article/detail/id/66.html">陌路的人，你永远不必等</a></h3>
    
            <div class="am-list-item-text">已经分手了的人，双方都不必再等下去了。</div>
        </div>
      </li><li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" >
        <div class="am-col col-sm-4 am-list-thumb">
          <a href="/index.php?s=/Home/Article/detail/id/67.html">
            <img src="/Uploads/Picture/2014-09-30/542aa629a037a.jpg" alt="如何迅速定位某个领域的最佳入门书籍！">
          </a>
        </div>
        <div class="am-col col-sm-8 am-list-main">
          
            <h3 class="am-list-item-hd"><a href="/index.php?s=/Home/Article/detail/id/67.html">如何迅速定位某个领域的最佳入门书籍</a></h3>
    
            <div class="am-list-item-text">工作中或多或少都需要接触一些全新的领域，也不少用户提了些自学上的问题，今天就总结下如何利用互联网工具，快速找到你所要学习领域的最佳入门书籍。</div>
        </div>
      </li><li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" >
        <div class="am-col col-sm-4 am-list-thumb">
          <a href="/index.php?s=/Home/Article/detail/id/71.html">
            <img src="/Uploads/Picture/549afb4aaf79e.jpg" alt="蚬港互动大师作品！">
          </a>
        </div>
        <div class="am-col col-sm-8 am-list-main">
          
            <h3 class="am-list-item-hd"><a href="/index.php?s=/Home/Article/detail/id/71.html">蚬港互动大师作品</a></h3>
    
            <div class="am-list-item-text">大大大</div>
        </div>
      </li><li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" >
        <div class="am-col col-sm-4 am-list-thumb">
          <a href="/index.php?s=/Home/Article/detail/id/70.html">
            <img src="/Uploads/Picture/549afb18c28cb.jpg" alt="蚬港语言哈哈！">
          </a>
        </div>
        <div class="am-col col-sm-8 am-list-main">
          
            <h3 class="am-list-item-hd"><a href="/index.php?s=/Home/Article/detail/id/70.html">蚬港语言哈哈</a></h3>
    
            <div class="am-list-item-text">大大大声</div>
        </div>
      </li><li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" >
        <div class="am-col col-sm-4 am-list-thumb">
          <a href="/index.php?s=/Home/Article/detail/id/69.html">
            <img src="/Uploads/Picture/549afad19c671.jpg" alt="蚬港语言！">
          </a>
        </div>
        <div class="am-col col-sm-8 am-list-main">
          
            <h3 class="am-list-item-hd"><a href="/index.php?s=/Home/Article/detail/id/69.html">蚬港语言</a></h3>
    
            <div class="am-list-item-text">大大</div>
        </div>
      </li><li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" >
        <div class="am-col col-sm-4 am-list-thumb">
          <a href="/index.php?s=/Home/Article/detail/id/68.html">
            <img src="https://mmbiz.qlogo.cn/mmbiz/TiahI1OlwM0tsCDMoyibRDIIlLJxeBqPhMQVVa5DNPdojUu3OpT3SKYYIbJ5tOa0DrGyyiaUAnbjMh7Ysib7OpCeYg/0" alt="芒果日报上线啦~！">
          </a>
        </div>
        <div class="am-col col-sm-8 am-list-main">
          
            <h3 class="am-list-item-hd"><a href="/index.php?s=/Home/Article/detail/id/68.html">芒果日报上线啦~</a></h3>
    
            <div class="am-list-item-text">芒果日报上线啦~撒花撒花~❃~❃~❃</div>
        </div>
      </li><li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" >
        <div class="am-col col-sm-4 am-list-thumb">
          <a href="/index.php?s=/Home/Article/detail/id/63.html">
            <img src="https://mmbiz.qlogo.cn/mmbiz/TiahI1OlwM0t5rO6zpVicO2tuALo9fGicqDgjTS59pFG1tQC37hKDYHticT2FXp9Mcyw2Tk0AGwkDBpNCpRlibmicsIQ/0" alt="获奖名单及一点小风波！">
          </a>
        </div>
        <div class="am-col col-sm-8 am-list-main">
          
            <h3 class="am-list-item-hd"><a href="/index.php?s=/Home/Article/detail/id/63.html">获奖名单及一点小风波</a></h3>
    
            <div class="am-list-item-text">为毛说好的一辆自行车现在两个人中奖？！！ 额，其实，问题全在于那短短的三分钟。</div>
        </div>
      </li><li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left" >
        <div class="am-col col-sm-4 am-list-thumb">
          <a href="/index.php?s=/Home/Article/detail/id/60.html">
            <img src="/Uploads/Picture/2014-09-25/5423c176c65d4.png" alt="加入内测群，分享你绝妙的Idea。！">
          </a>
        </div>
        <div class="am-col col-sm-8 am-list-main">
          
            <h3 class="am-list-item-hd"><a href="/index.php?s=/Home/Article/detail/id/60.html">加入内测群，分享你绝妙的Idea。</a></h3>
    
            <div class="am-list-item-text">I want U.</div>
        </div>
      </li>  </ul>
<ul class="am-pagination">
  <li class="am-pagination-prev"><a href="">&laquo; 上一页</a></li>
  <li class="am-pagination-next"><a href="">下一页 &raquo;</a></li>
</ul>
  </div>
  </div>
</block>

